@using MyCookbook.Web.ViewModels.Categories.All
@model CategoryViewModel

@{
    this.ViewData["Title"] = "Всички категории";
}
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-6 media">
                <img src="@category.ImageUrl" width="180" class="mr-3" alt="@category.Name">
                <div class="media-body">
                    <h5 class="mt-0">
                        <a href="@category.Url">
                            @category.Name (@category.RecipesCount)
                        </a>
                    </h5>
                </div>
            </div>
        }
    </div>