@using MyCookbook.Web.ViewModels.ViewComponents
@using MyCookbook.Common
@model LastCreatedRecipesViewModel

<h3 class="text-center text-primary border rounded">
    Последно добавени рецепти
</h3>
<hr class="border" />
@foreach (var recipe in Model.Recipes)
{
    <div class="col mb-4">
        <div class="card">
            <div class="card-title">
                <h5 class="card-title">@recipe.Title</h5>
            </div>
            <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="alert-info">
                @if (recipe.TitlePhotoUrl == null)
                {
                    <img src="@GlobalConstants.DefaultRecipeImageUrl" class="card-img-top" height="200" alt="Снимка на рецептата">
                }
                else
                {
                    <img src="@recipe.TitlePhotoUrl" class="card-img-top" height="200" alt="Снимка на рецептата">
                }
            </a>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <i class="far fa-calendar-alt" style="color:black">@recipe.CreatedOn.ToString("MM-dd-yy")</i>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-star" style="color:gold"></i>
                        <span class="text-dark">@recipe.Rating</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
