@using MyCookbook.Web.ViewModels.Home
@using MyCookbook.Web.ViewModels.Partials
@model IndexViewModel
@{
    this.ViewData["Title"] = "Начална страница";
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.TopRecipes };
}

@if (this.TempData["SuccessCreateRecipe"] != null)
{
    <div class="text-success text-center">
        <h3>@this.TempData["SuccessCreateRecipe"]</h3>
        <hr class="border border-primary" />
    </div>
}

@if (this.TempData["SuccessEditRecipe"] != null)
{
    <div class="text-success text-center">
        <h3>@this.TempData["SuccessEditRecipe"]</h3>
        <hr class="border border-primary" />
    </div>
}

<div class="text-center">
    <h1 class="display-4 peach-gradient"><strong>Добре дошли в   </strong><img src="https://res.cloudinary.com/mycookbook/image/upload/v1587575801/FavIcon_d6k6e1.png" width="60" /><img src="https://res.cloudinary.com/mycookbook/image/upload/v1587576812/Logo3_xbmy41.jpg" width="300" /></h1>
    <hr class="border border-primary" />
    <h5>Тук можете да откриете любими готварски рецепти според вашите предпочитания. Всеки регистриран потребител на сайта има право да добавя нови рецепти, като по този начин да научат повече хора за тях.</h5>
</div>
<hr class="border border-primary" />
<div class="text-center">
    <h3>Топ рецепти <i class="fas fa-star" style="color:gold"></i></h3>
</div>
<hr class="border" />
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />
<div class="text-center">
    <a href="/Recipes/Filtered?CategoryId=-1&CuisineId=-1&CookingMethodId=-1&PrepTime=0&IsCheckedPrepTime=False&CookTime=0&IsCheckedCookTime=False&SeasonalType=0&IsCheckedSeasonalType=False&SkillLevel=0&IsCheckedSkillLevel=False&SortedType=RatingAscending"><i class="fas fa-eye"></i>&nbsp; Виж още топ рецепти</a>
</div>
<hr class="border" />
<h3 class="text-center mt-5">Категории</h3>
<hr class="border" />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-6 media">
            <img src="@category.ImageUrl" width="180" class="mr-3" alt="@category.Name">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@category.Url">
                        @category.Name (@category.RecipesCount)
                    </a>
                </h5>
            </div>
        </div>
    }
</div>
<div class="text-center mt-5">
    <a asp-controller="Categories" asp-action="All"><i class="fas fa-eye"></i>&nbsp; виж всички категории</a>
</div>
<hr class="border" />
<h3 class="text-center mt-5">национални кухни &nbsp;<i class="fas fa-globe-africa" style="color:dodgerblue"></i></h3>
<hr class="border" />
<div class="row">
    @foreach (var cuisine in Model.Cuisines)
    {
        <div class="col-md-4 media border mb-3">
            <img src="@cuisine.ImageUrl" width="100" class="mr-3" alt="@cuisine.Name">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@cuisine.Url">
                        @cuisine.Name (@cuisine.RecipesCount)
                    </a>
                </h5>
            </div>
        </div>
    }
</div>
<div class="text-center mt-3">
    <a asp-controller="Cuisines" asp-action="All"><i class="fas fa-eye"></i>&nbsp; виж всички национални кухни</a>
</div>
