@using MyCookbook.Web.ViewModels.Moderation
@model ModerationRecipesManageViewModel

@{
    this.ViewData["Title"] = "Одобряване на рецепти";
}

<div class="text-center ml-5">
    <h2>@this.ViewData["Title"]</h2>
</div>
<hr class="border" />

@if (Model.Recipes.Count() <= 0)
{
    <h4 class="text-primary">Няма рецепти за одобряване!</h4>
}
else
{
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="table-primary">
                <tr class="d-flex">
                    <th scope="col">#</th>
                    <th class="col-md-2" scope="col">Заглавие</th>
                    <th class="col-md-2" scope="col">Снимка</th>
                    <th class="col-md-2" scope="col">Дата</th>
                    <th class="col-md-2" scope="col">Автор</th>
                    <th class="col-md-5" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var counter = 1;
                }
                @foreach (var recipe in Model.Recipes)
                {
                    <tr class="d-flex">
                        <th scope="row">@counter</th>
                        <td class="col-md-2">@recipe.Title</td>
                        <td class="col-md-2">
                            <img src="@recipe.TitlePictureUrl" class="card-img-top" height="80" alt="Снимка на категорията">
                        </td>
                        <td class="col-md-2"><time datetime="@recipe.CreatedOn.ToString("O")"></time></td>
                        <td class="col-md-2">@recipe.AuthorFullName</td>
                        <td><a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp; Преглед</a></td>
                        <td><button type="button" class="btn btn-success float-right mb-1" onclick='ApproveRecipe("@recipe.Id")'><i class="fas fa-check"></i>&nbsp; Одобри</button></td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
    <hr class="border border-primary" />
}

<div>
    <form asp-area="Moderation" asp-controller="Recipes" asp-action="Approve" method="post" id="ApproveRecipeForm" style="display: none">
        <input type="hidden" name="RecipeId" value="null" />
        <div>
            <input type="submit" id="approveSubmit" />
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function ApproveRecipe(recipeId) {
            if (confirm("Сигурни ли сте, че искате да одобрите рецептата ?")) {
                $("#ApproveRecipeForm input[name='RecipeId']").val(recipeId);
                document.getElementById('approveSubmit').click();
            }
        }
    </script>
}