@using MyCookbook.Web.ViewModels.Recipes.All
@using MyCookbook.Web.ViewModels.Partials
@model RecipeAllViewModel

@{
    this.ViewData["Title"] = "Всички рецепти";
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.Recipes };
}

<div class="row mb-4">
    <div class="col-md-8">
        <h2>Всичкки рецепти</h2>
    </div>
    <div class="col-md-4">
        <a asp-controller="Recipes" asp-action="Search"><i class="fas fa-search fa-2x"></i>&nbsp; Tърсене на рецепта</a>
    </div>
</div>
<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />

<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Предишна</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Recipes"
                   asp-action="All"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Предишна</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-controller="Recipes"
                   asp-action="All"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Следваща</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Recipes"
                   asp-action="All"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Следваща</a>
            </li>
        }
    </ul>
</nav>
