@using MyCookbook.Web.ViewModels.Recipes.InputModels
@model RecipeCreateInputModel

@{
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    this.ViewData["Title"] = "Добавяне на рецепта";
}

    <form asp-action="Create" method="post" enctype="multipart/form-data" class="form-control">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IngredientsNames"></label>
            <textarea asp-for="IngredientsNames" rows="5" />
            <span asp-validation-for="IngredientsNames" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <hr />
        <div>
            <input type="submit" value="Качване" class="form-control" />
        </div>
    </form>

@*@using MyCookbook.Web.ViewModels.Recipes.InputModels
    @model TestInputModel
    <form class="col-md-4" asp-action="Create" method="post" id="chktech">
        <ul id="checkBox">
            @for (var i = 0; i < Model.CookingMethods.Length; i++)
            {
                <li>
                    <input type="checkbox" asp-for="@Model.CookingMethods[i].Selected" />
                    <label asp-for="@Model.CookingMethods[i].Selected">@Model.CookingMethods[i].Name</label>
                    <input type="hidden" asp-for="@Model.CookingMethods[i].Id" />
                    <input type="hidden" asp-for="@Model.CookingMethods[i].Name" />
                    <span asp-validation-for="@Model.CookingMethods[i].Name"></span>
                </li>
            }
        </ul>
        <span asp-validation-for="CookingMethods"></span>
        <button type="submit" id="btnSubmit">Filtrer</button>
    </form>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var isPushedButton = false;
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                if ($('#chktech input:checked').length > 0) {
                    return true;
                }
                else {
                    if (isPushedButton == false) {
                        document.getElementById("checkBox").innerHTML += "Моля изберете поне един метод на приготвяне!";
                    }
                    isPushedButton = true;
                    return false;
                }
            })
        });
    </script>
}