@using MyCookbook.Web.InputModels.Recipes
@using MyCookbook.Data.Models.Enums
@model RecipeCreateInputModel

@{
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var cuisines = Model.Cuisines.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    this.ViewData["Title"] = "Добавяне на рецепта";
}
<form asp-action="Create" method="post" enctype="multipart/form-data" id="checkbox">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Title"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Заглавие на рецептата"></i>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuisineId"></label>
                <select asp-for="CuisineId" asp-items="cuisines" class="form-control"></select>
                <span asp-validation-for="CuisineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonalType"></label>
                <select asp-for="SeasonalType" asp-items="@Html.GetEnumSelectList<Seasonal>()" class="form-control"></select>
                <span asp-validation-for="SeasonalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel"></label>
                <select asp-for="SkillLevel" asp-items="@Html.GetEnumSelectList<SkillLevel>()" class="form-control"></select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>
            <div class="custom-file fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Позволени формати: '.JPEG', '.JPG', '.PNG' до 5мб!">
                <input asp-for="TitleImage" class="custom-file-input form-control" />
                <label asp-for="TitleImage" class="custom-file-label form-control">
                    <span class="badge badge-light">
                        <i class="fas fa-cloud-upload-alt fa-2x"></i>
                    </span>
                    <span>
                        Качи заглавна снимка
                    </span>
                </label>
            </div>
            <div class="form-group"></div>
            <div class="custom-file fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Позволени формати: '.JPEG', '.JPG', '.PNG' до 5мб! Максимум до 5 снимки!">
                <input asp-for="Images" class="custom-file-input input-group-lg form-control" />
                <label asp-for="Images" class="custom-file-label col-form-label-lg form-control">
                    <span class="badge badge-light">
                        <i class="fas fa-cloud-upload-alt fa-2x"></i>
                    </span>
                    <span>
                        Качи допълнителни снимки
                    </span>
                </label>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="IngredientsNames"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Съставките трябва да бъдат по една на ред!"></i>
                <textarea asp-for="IngredientsNames" class="form-control" rows="7"></textarea>
                <span asp-validation-for="IngredientsNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Трябва да съдържа между 50 и 2000 символа!"></i>
                <textarea asp-for="Description" class="form-control" rows="11"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="checkBox">
            <label asp-for="CookingMethods"></label>
            <div class="border rounded">
                @for (var i = 0; i < Model.CookingMethods.Length; i++)
                {
                    <div>
                        <input type="checkbox" asp-for="@Model.CookingMethods[i].Selected" />
                        <label asp-for="@Model.CookingMethods[i].Selected">@Model.CookingMethods[i].Name</label>
                        <input type="hidden" asp-for="@Model.CookingMethods[i].Id" />
                        <input type="hidden" asp-for="@Model.CookingMethods[i].Name" />
                        <span asp-validation-for="@Model.CookingMethods[i].Name"></span>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PrepTime"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Време за приготвяне в минути! Времето трябва да бъде между 0 и 300 минути!"></i>
                <input asp-for="PrepTime" class="form-control" />
                <span asp-validation-for="PrepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookTime"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Време за готвене в минути! Времето трябва да бъде между 0 и 500 минути!"></i>
                <input asp-for="CookTime" class="form-control" />
                <span asp-validation-for="CookTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servings"></label>
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="порциите трябва да бъдат между 0 и 200!"></i>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Advices"></label>
            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Допълнителни съвети и препоръки към рецептата. Полето трябва да съдържа между 50 и 2000 символа!"></i>
            <textarea asp-for="Advices" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Advices" class="text-danger"></span>
        </div>
        <span asp-validation-for="Advices"></span>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4">
            <input type="submit" value="Качване на рецепта" class="btn btn-primary btn-md" id="btnSubmit" />
        </div>
    </div>
</form>

@*@using MyCookbook.Web.ViewModels.Recipes.InputModels
    @model TestInputModel
    <form class="col-md-4" asp-action="Create" method="post" id="chktech">
        <ul id="checkBox">
            @for (var i = 0; i < Model.CookingMethods.Length; i++)
            {
                <li>
                    <input type="checkbox" asp-for="@Model.CookingMethods[i].Selected" />
                    <label asp-for="@Model.CookingMethods[i].Selected">@Model.CookingMethods[i].Name</label>
                    <input type="hidden" asp-for="@Model.CookingMethods[i].Id" />
                    <input type="hidden" asp-for="@Model.CookingMethods[i].Name" />
                    <span asp-validation-for="@Model.CookingMethods[i].Name"></span>
                </li>
            }
        </ul>
        <span asp-validation-for="CookingMethods"></span>
        <button type="submit" id="btnSubmit">Filtrer</button>
    </form>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var isPushedButton = false;
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                if ($('#checkbox input:checked').length > 0) {
                    return true;
                }
                else {
                    if (isPushedButton == false) {
                        document.getElementById("checkBox").innerHTML += "Моля изберете поне един метод на приготвяне!";
                    }
                    isPushedButton = true;
                    return false;
                }
            })
        });
    </script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}