@using MyCookbook.Web.ViewModels.Recipes.Filtered
@using MyCookbook.Web.Infrastructure.Extensions
@using System.ComponentModel.DataAnnotations
@using MyCookbook.Web.ViewModels.Partials
@model RecipeFilteredViewModel

@{
    this.ViewData["Title"] = "Резултати от търсенето";
    var listRecipesPartialViewModel = new ListRecipesPartialViewModel { Recipes = Model.FilteredRecipes };
}

<div class="row mb-4">
    <div class="col-md-8">
        <h2>Резултати от търсенето</h2>
    </div>
    <div class="col-md-4">
        <a asp-controller="Recipes" asp-action="Search"><i class="fas fa-search fa-2x"></i>&nbsp; Ново търсене</a>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Title) || !string.IsNullOrWhiteSpace(Model.Title))
{
    <p>
        <strong>Заглавие: @Model.Title</strong>
    </p>
}

@if (Model.Category != null)
{
    <p>
        <strong>Категория: </strong>@Model.Category
    </p>
}

@if (Model.Cuisine != null)
{
    <div class="media">
        <img height="25" width="35" class="align-self-center mr-3" src="@Model.Cuisine.ImageUrl" alt="знаме">
        <div class="media-body">
            <p>@Model.Cuisine.Name</p>
        </div>
    </div>
}

@if (Model.CookingMethod != null)
{
    <p>
        <strong>Метод на приготвяне: </strong>@Model.CookingMethod
    </p>
}

@if (Model.IsCheckedPrepTime)
{
    <p>
        <strong>Време за приготвяне до: </strong>@Model.PrepTime мин.
    </p>
}

@if (Model.IsCheckedCookTime)
{
    <p>
        <strong>Време за готвене до: </strong>@Model.CookTime мин.
    </p>
}

@if (Model.IsCheckedSeasonalType)
{
    var seasonalType = Model.SeasonalType.GetAttribute<DisplayAttribute>();
    <p>
        <strong>Подходяща за: </strong> @seasonalType.Name
    </p>
}

@if (Model.IsCheckedSkillLevel)
{
    var skillLevel = Model.SkillLevel.GetAttribute<DisplayAttribute>();
    <p>
        <strong>Рецепта за: </strong> @skillLevel.Name
    </p>
}

@{
    var sortedType = Model.SortedType.GetAttribute<DisplayAttribute>();
}

<p>
    <strong>Подредени по: </strong> @sortedType.Name
</p>
<hr class="border" />

@if (Model.FilteredRecipes.Count() <= 0)
{
    <h3>Няма намерени резултати!</h3>
}

<partial name="_ListRecipesPartial" model="@listRecipesPartialViewModel" />