@using MyCookbook.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="icon" type="image/png" href="~/FavIcon.png" />

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.united.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.united.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://res.cloudinary.com/mycookbook/image/upload/v1587575801/FavIcon_d6k6e1.png" width="60" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Рецепти</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Recipes" asp-action="All">Всички рецепти</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Recipes" asp-action="Search">Търсене на рецепта</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="All">Категории</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Cuisines" asp-action="All">Национални кухни</a>
                            </div>
                        </li>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Recipes" asp-action="Create">Добави рецепта</a>
                            </li>
                        }

                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Модерация</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Moderation" asp-controller="Recipes" asp-action="Manage">Одобряване на рецепти</a>
                                </div>
                            </li>
                        }

                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Администрация</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Categories" asp-action="Manage">Категории</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Cuisines" asp-action="Manage">Национални кухни</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="CookingMethods" asp-action="Manage">Начини на приготвяне</a>
                                </div>
                            </li>
                        }

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Профил</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="MyProfile">Моят профил</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="MyRecipes">Моите рецепти</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Favorites">Любими рецепти</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Cooked">Сготвени рецепти</a>
                                </div>
                            </li>
                        }

                        @*<li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Политика</a>
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container-fluid row">
        <div class="col-md-3">
            <vc:last-created-recipes count="7"></vc:last-created-recipes>
        </div>
        <div class="col-md-9">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
